/* content.css */

/* Стили для контента, расположенного под сайдбаром */
.content-container {
    margin-left: 25%; /* Сдвигаем контент вправо от сайдбара */
    padding: 30px; /* Внутренние отступы для контента */
}

.content {
    background-color: #121212; /* Цвет фона контента */
    color: #DDDDDD; /* Цвет текста в контенте */
    padding: 20px; /* Внутренние отступы */
    min-height: 100vh; /* Минимальная высота контента */
}
