/* Общие стили для всех форм */
form {
    background-color: #242629;  /* Цвет фона форм */
    padding: 20px;              /* Отступы внутри формы */
    border-radius: 5px;         /* Закругленные углы формы */
    max-width: 400px;           /* Максимальная ширина формы */
    margin: 0 auto;             /* Центрирование формы на странице */
}

/* Стили для текста label */
form label {
    color: #EEEEEE;               /* Цвет текста */
    display: block;               /* Отображение в блочном контексте */
    margin-bottom: 5px;          /* Небольшой отступ снизу, чтобы отдалить от поля ввода */
}

/* Переход сообщения об ошибке на новую строку */
form .form-group {
    margin-bottom: 15px;         /* Отступ между группами полей формы */
}

/* Стили для полей ввода */
form input[type="text"],
form input[type="password"] {
    width: 100%;                 /* Поля ввода по ширине формы */
    padding: 10px;              /* Отступы внутри полей ввода */
    border-radius: 5px;         /* Скругленные углы */
    border: 1px solid #CCCCCC;   /* Рамка вокруг полей ввода */
    background-color: #3A3B3F;   /* Цвет фона полей ввода */
    color: #EEEEEE;              /* Цвет текста внутри полей ввода */
    box-sizing: border-box;      /* Учитывать рамки и отступы в ширине */
}

/* Стили для кнопок типа submit (например, кнопка "Да") */
form button[type="submit"] {
    background-color: #343b3f;  /* Цвет кнопки submit в обычном состоянии */
    color: #FFFFFF;              /* Цвет текста кнопки */
    border: none;                /* Без рамки */
    padding: 10px 15px;         /* Отступы внутри кнопки */
    cursor: pointer;             /* Курсор в виде руки при наведении */
}

/* Изменение цвета кнопки submit при наведении */
form button[type="submit"]:hover {
    background-color: #2E2023;  /* Цвет кнопки submit при наведении */
}

/* Стили для кнопок типа button (например, кнопка "Нет") */
form button[type="button"] {
    background-color: #92979F; /* Цвет кнопки button в обычном состоянии */
    color: #FFFFFF;            /* Цвет текста кнопки */
    border: none;              /* Без рамки */
    padding: 10px 15px;       /* Отступы внутри кнопки */
    cursor: pointer;           /* Курсор в виде руки при наведении */
}

/* Изменение цвета кнопки button при наведении */
form button[type="button"]:hover {
    background-color: #A6A8AB; /* Цвет кнопки button при наведении */
}

/* Стили для звездочек */
span.required {
    color: red;                  /* Цвет звездочек */
}

/* Стили для сообщений об ошибках */
span.error-message {
    color: #C42A2E;                  /* Цвет сообщений об ошибках */
    font-size: 0.9em;            /* Меньший размер шрифта для сообщений об ошибках */
    display: block;              /* Отображение в блочном контексте */
    margin: 3px 0 8px 0;        /* Отступ сверху 3px, снизу 8px для отделения от предыдущего и следующего элемента */
}