/* Общие стили для всех форм */
form {
    background-color: #242629;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    color: #EEEEEE;
    display: block;
    margin-bottom: 5px;
}

form .form-group {
    margin-bottom: 15px;
}

form input[type="text"],
form input[type="password"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background-color: #3A3B3F;
    color: #EEEEEE;
    box-sizing: border-box;
}

/* Стили для текстовой области */
form textarea {
    resize: vertical;          /* Позволяет изменять размер текстовой области только по вертикали */
    height: 100px;             /* Начальная высота текстовой области */
    font-size: 1em;            /* Размер шрифта, аналогичный другим полям */
    color: #EEEEEE;            /* Цвет текста в текстовой области */
    background-color: #3A3B3F; /* Цвет фона текстовой области */
    border: 1px solid #CCCCCC; /* Рамка вокруг текстовой области */
    padding: 10px;             /* Отступы внутри текстовой области */
    border-radius: 5px;        /* Скругленные углы */
    box-sizing: border-box;    /* Учитывать рамки и отступы в ширине */
}

/* Стили для плейсхолдера в текстовой области */
form textarea::placeholder {
    color: #92979F;            /* Цвет шрифта плейсхолдера */
    font-size: 0.9em;          /* Размер шрифта плейсхолдера */
    opacity: 1;                /* Обеспечивает стабильную видимость плейсхолдера */
}

/* Стили для кнопки добавления файла */
form input[type="file"] {
    color: #EEEEEE;
    background-color: #3A3B3F;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}

/* Кнопки отправки и действия */
form button[type="submit"] {
    background-color: #343b3f;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

form button[type="submit"]:hover {
    background-color: #2E2023;
}

form button[type="button"] {
    background-color: #92979F;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

form button[type="button"]:hover {
    background-color: #A6A8AB;
}

span.required {
    color: red;
}

span.error-message {
    color: #C42A2E;
    font-size: 0.9em;
    display: block;
    margin: 3px 0 8px 0;
}
