.no-data {
    background-color: #242629; /* Фоновый цвет */
    color: #EEEEEE; /* Цвет текста */
    padding: 20px; /* Внутренние отступы */
    border-radius: 8px; /* Закругленные углы */
    text-align: center; /* Центрирование текста */
    margin: 20px auto; /* Отступы сверху и снизу, центрирование по горизонтали */
    max-width: 250px; /* Максимальная ширина */
    width: 90%; /* Ширина 90% от родительского контейнера */
    font-size: 18px; /* Размер шрифта */
    font-weight: bold; /* Жирный текст */
}