/* Сайдбар */

.sidebar {
    background-color: #181A1D;  /* Цвет фона сайдбара */
    color: #92979F;              /* Цвет текста сайдбара */
    padding: 20px;               /* Отступы внутри сайдбара */
    width: 180px;                /* Ширина сайдбара */
    height: calc(100vh - 20px); /* Высота сайдбара, уменьшенная на высоту верхней и нижней панелей */
    overflow-y: auto;            /* Включаем вертикальную прокрутку, если содержимое превышает высоту */
    float: left;                 /* Плавающее поведение для размещения рядом с контентом */
}

/* Заголовок навигации */
.sidebar span {
    font-size: 1.2em;           /* Увеличенный размер шрифта для заголовка */
    margin-bottom: 8px;        /* Отступ снизу для отделения от ссылок */
    display: block;             /* Отображение в блочном контексте для вертикального расположения */
    font-weight: bold;          /* Делаем заголовок полужирным */
}

/* Стили для ссылок в сайдбаре */
.sidebar a {
    display: block;              /* Превращаем ссылки в блочные элементы для вертикального расположения */
    color: #92979F;              /* Цвет текста ссылок */
    text-decoration: none;       /* Убираем подчеркивание */
    padding: 6px 0;             /* Отступы сверху и снизу для ссылок */
}

/* Изменение цвета текста при наведении на ссылки */
.sidebar a:hover {
    color: #EEEEEE;             /* Цвет текста при наведении */
    text-decoration: underline;  /* Подчеркивание текста при наведении */
}

/* Разделитель между сайдбаром и контентом */
.sidebar + .content-area {
    border-left: 2px solid #812223;
}