/* sidebar.css */

/* Стили сайдбара */
.sidebar {
    width: 20%; /* Фиксированная ширина сайдбара */
    border-right: 2px solid #666; /* Вертикальный разделитель */
    padding: 25px; /* Увеличенные отступы внутри сайдбара */
    height: 100%; /* Высота сайдбара */
    position: fixed; /* Фиксируем сайдбар */
    overflow-y: auto; /* Вертикальная прокрутка */
    background-color: #222; /* Цвет фона сайдбара */
    color: #AADDFF; /* Цвет текста в сайдбаре */
}

/* Стили для ссылок в сайдбаре */
.sidebar a {
    color: #AADDFF; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s; /* Плавный переход цвета */
    display: flex; /* Ссылки по вертикали */
    margin-bottom: 7px; /* Отступ между ссылками */

}

.sidebar a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
    color: #007BFF; /* Цвет ссылки при наведении */
}

/* Разделители между ссылками */
.sidebar a + a {
    border-top: 1px solid #666; /* Разделитель между ссылками */
    padding-top: 10px; /* Отступ сверху для визуального разделения */
}
