<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>MySite: {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="layout">

        <div class="header">
            <div class="header-left">
                <img src="{{ url_for('static', filename='images/logo_red.png') }}" alt="Logo" class="logo">
                <span class="brand-name"><span class="rent">Rent</span><span class="sphere">Sphere</span> — Аренда для всех сфер жизни</span>
            </div>

            <div class="header-right">
                {% if not current_user.id %}
                    <a href="/login">Войти</a>
                    <a href="/register">Регистрация</a>
                {% else %}
                    <img src="{{ url_for('static', filename='images/default_avatar.png') }}" alt="Аватар" class="header-avatar">
                    <span class="header-user">{{ current_user.login }}</span>
                    <a href="/logout">Выйти</a>
                {% endif %}
            </div>
        </div>

        <div class="center-container">
            <!-- Блок с сайдбаром и основном контентом -->

            <div class="sidebar">
                <!-- Боковая панель навигации -->

                <span>Навигация</span>
                {% if current_user.id %}
                    <a href="/profiles">Профили</a>
                    <a href="{{ url_for('profile', user_id=current_user.id) }}">Мой профиль</a>
                    <a href="/profiles/random_user">Профиль случайного пользователя</a>
                    <a href="/profiles/search_history">История поиска</a>
                    <a href="/profiles/favorites">Избранное</a>
                    <a href="/items/add">Добавить новый товар</a>
                    <a href="/items">Товары</a>
                    <a href="/items/random_item_details">Случайный товар</a>
                    <a href="/contracts/random_contract">Случайный контракт</a>
                    <a href="/search">Поиск</a>
                    <a href="/complain">Жалоба</a>
                    <a href="/compare">Сравнить</a>
                {% else %}
                    <a href="/profiles">Профили</a>
                    <a href="/profiles/random_user">Профиль случайного пользователя</a>
                    <a href="/items">Товары</a>
                    <a href="/items/random_item_details">Случайный товар</a>
                    <a href="/search">Поиск</a>
                    <a href="/compare">Сравнить</a>
                {% endif %}
            </div>
            <div class="content-area">
                {% block content %}
                <!-- Содержимое страницы-->
                {% endblock %}
            </div>

        </div>

        <div class="footer">
            <table class="stats-table">
                <tr>
                    <td class="left-col">Пользователей: {{ stats.users_total }}</td>
                    <td class="right-col">Session ID: {{ stats.session_id }}</td>
                </tr>
                <tr>
                    <td class="left-col">Предметов: {{ stats.items_total }}</td>
                    <td class="right-col"></td> <!-- Пустой столбец для выравнивания -->
                </tr>
                <tr>
                    <td class="left-col">Контрактов: {{ stats.contracts_total }}</td>
                    <td class="right-col"></td> <!-- Пустой столбец для выравнивания -->
                </tr>
            </table>
        </div>

    </div>

</body>
</html>
