{% extends 'base.html' %}

{% block title %}Навигация{% endblock %}

{% block content %}
    <div class="index-container">
        <h3>В данный момент реализованы следующий функционал:</h3>
        <ul>
            <li>Создание, редактирование и удаление учетной записи</li>
            <li>Добавление, изменение и удаление товаров</li>
            <li>Создание контракта (возможность взять товар в аренду и условно уведомить владельца)</li>
            <li>Просмотр всех существующих профилей и товаров</li>
            <li>Поиск и история поиска</li>
            <li>Сравнение товаров</li>
            <li>Добавление и удаление товаров в избранном</li>
        </ul>

        <p>*Для предсозданных профилей пароль такой же, как и логин.</p>
        <p>**Взаимодействие с предсозданными профилями, товарами и контрактами теоретически может вызывать ошибки с БД, так как база заполнялась хаотично и непоследовательно</p>
        <p>***Поиск почему-то не хочет работать с кириллицей. Точную причину не выяснил, полагаю, проблемы с кодировкой.</p>
    </div>
{% endblock %}