<!-- templates/index.html-->
    {% extends 'base.html' %}

    {% block title %}Navigation{% endblock %}

    {% block content %}
        <!-- REAL CONTENT ABOVE (None for now) -->
        <!-- PLACEHOLDERS BELOW -->
            <a href="/login">Sign in</a><br>
            <a href="/register">Sign up</a><br>
            <a href="/logout">Logout</a><br>
            <a href="/profiles">Profiles</a><br>
            <a href="/profiles/me">My Profile</a><br>
            <a href="/profiles/random_user">Random User Profile</a><br>   <!-- <user_id> -->
            <a href="/profiles/search_history">Search History</a><br>
            <a href="/profiles/favorites">Favorites</a><br>
            <a href="/items">Items</a><br>
            <a href="/items/random_item">Random Item</a><br>  <!-- <item_id> -->
            <a href="/leasers">Leasers</a><br>
            <a href="/leasers/random_leaser_details">Random Leaser</a><br>  <!-- <leaser_id> -->
            <a href="/contracts/random_contract">Random Contract</a><br>  <!-- <contract_id> -->
            <a href="/search">Search</a><br>
            <a href="/complain">Complain</a><br>
            <a href="/compare">Compare</a><br>
    {% endblock %}
