<!-- templates/index.html-->
    {% extends 'base.html' %}

    {% block title %}Navigation{% endblock %}

    {% block content %}
        <!-- PLACEHOLDER -->
            <a href="/login">Sign in</a><br>    <!-- WIP -->
            <a href="/register">Sign up</a><br> <!-- WIP -->
            <a href="/logout">Logout</a><br>    <!-- WIP -->
            <a href="/profiles">Profiles</a><br>    <!-- WIP -->
            <a href="/profiles/my">My Profile</a><br>   <!-- WIP -->
            <a href="/profiles/search_history">Search History</a><br>   <!-- WIP -->
            <a href="/profiles/favorites">Favorites</a><br> <!-- WIP -->
            <a href="/items">Items</a><br>  <!-- WIP -->
            <a href="/leasers">Leasers</a><br>  <!-- WIP -->
            <a href="/contracts">Contracts</a><br>  <!-- WIP -->
            <a href="/search">Search</a><br>    <!-- WIP -->
            <a href="/complain">Complain</a><br>    <!-- WIP -->
            <a href="/compare">Compare</a><br>  <!-- WIP -->
    {% endblock %}
