{% extends 'base.html' %}

{% block title %}Мой профиль{% endblock %}

{% block content %}
        <div class="profile-avatar">
            <img src="{{ url_for('static', filename='images/default_avatar.png') }}" alt="Аватар" width="240" height="240">
        </div>

        <div class="profile-content">
            <h2>Профиль пользователя</h2>
            <div class="profile-field"><strong>Логин:</strong> <span>{{ user.login }}</span></div>
            <div class="profile-field"><strong>Имя:</strong> <span>{{ user.first_name }}</span></div>
            <div class="profile-field"><strong>Фамилия:</strong> <span>{{ user.last_name }}</span></div>
            <div class="profile-field"><strong>Дата регистрации:</strong> <span>{{ user.register_date }}</span></div>
            <div class="profile-field"><strong>Контактный телефон:</strong> <span>{{ user.phone_number }}</span></div>
            <div class="profile-field"><strong>Контактный email:</strong> <span>{{ user.email }}</span></div>
            <div class="profile-field"><strong>Паспортные данные:</strong> <span>[Зарезервировано]</span></div>

            <div class="profile-actions">
                <a href="{{ url_for('profile_edit') }}" class="btn btn-primary">Редактировать профиль</a>
            </div>

        </div>

        <div class="profile-right-bar">
            <div class="profile-my-items">
            <h3>Мои товары</h3>
            </div>

            <div class="profile-rented-items">
            <h3>Арендованные товары</h3>
            </div>

            <div class="profile-contracts">
            <h2>Заключенные контракты</h2>
            </div>
        </div>
{% endblock %}
