{% extends 'base.html' %}

{% block title %}История поиска{% endblock %}

{% block content %}
    <div class="form-container">
        <h2>Ваша история поиска</h2>

        <!-- Проверка, если история поиска существует -->
        {% if search_queries and timestamps %}
            <table class="search-history-table">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Запрос</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(search_queries|length) %}
                        <tr>
                            <td>{{ timestamps[i] }}</td>
                            <td>
                                <!-- Кликабельный запрос для нового поиска -->
                                <a href="{{ url_for('search') }}?q={{ search_queries[i] }}" class="search-query-link">
                                    {{ search_queries[i] }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Ваша история поиска пуста.</p>
        {% endif %}
    </div>
{% endblock %}