{% extends 'base.html' %}

{% block title %}user{% endblock %}

{% block content %}
    <div class="login-form">
        <form action="/user" method="post">
            <input type="text" name="photo" placeholder="Фото" required><br>
            <input type="text" name="name" placeholder="Название" required><br>
            <input type="text" name="desc" placeholder="Описание" required><br>
            <input type="text" name="price_h" placeholder="Цена за час"><br>
            <input type="text" name="price_d" placeholder="Цена за сутки"><br>
            <input type="text" name="price_w" placeholder="Цена за неделю"><br>
            <input type="text" name="price_m" placeholder="Цена за месяц"><br>

            <button type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}
